.DS_Store
practice/
code/node_modules
6-server/node_modules
6-server/.cache
6-server/dist
6-server/build
5-server/node_modules
5-server/.cache
5-server/dist
5-server/build
4-web/node_modules
4-web/.cache
4-web/dist
4-web/build
3-stats/node_modules
3-stats/.cache
3-stats/dist
3-stats/build
2-sort/node_modules
2-sort/.cache
2-sort/dist
2-sort/build
1-maps/node_modules
1-maps/.cache
1-maps/dist